<form method="POST" action="/create-product">
    <input name="name" type="text" placeholder="name">

    <input name="price" type="text" placeholder="price">
  <input name="net_price" type="text"  placeholder="net_price">
<input name="main_photoURL" type="text" placeholder="main_photoURL">
<input name="sub_photoURL" type="text"  placeholder="sub_photoURL">

<input name="description" type="text"  placeholder="description">

  <input type="submit">

</form>