<form method="POST" action="/import/save">

    <input name="price" type="price" placeholder="price">
  <input name="net_price" type="net_price"  placeholder="net_price">
<input name="main_photoURL" type="file" placeholder="main_photoURL">
<input name="sub_photoURL" type="file"  placeholder="sub_photoURL">


  <input name="name" type="text">
  <input type="submit">

</form>